html, body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #c9d6e1;
}

#main-container {
    margin: 0 auto;
    padding: 0 10px;
    position: relative; /* needed for footer positioning*/
    height:auto !important;
    height:100%;
    min-height:100%;
    width: 1024px;
    bottom: 0;
    background-color: white;
    -webkit-align-content: center;
    align-content: center;
}

.flex-column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#header, #footer {
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#header {
    -webkit-align-items: flex-end;
    align-items: flex-end;
    color: #29b5e0;
    height: 6em;
}

#footer {
    height: 5em;
}

#lang_chooser {
    position: absolute;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#lang_chooser a {
    color: #29b5e0;
    float: left;
    padding: 6px 8px;
    text-decoration: none;
}

#lang_chooser a.active-lang {
    background-color: #247cb1;
    color: white;
}

#menu {
    height: 3em;
}

.menu {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

#main-menu {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: center;
    align-content: center;
}

a.menu-item {
    margin: auto 5px;
}

#main-content {
    height:auto !important;
    height:100%;
    min-height: calc(100vh - 6em - 5em - 3em);
}

#title {
    width: 1000px;
}

form > div {
    margin-top: 5px;
    margin-bottom: 5px;
}

table, th, td {
    border: black solid thin;
    border-collapse: collapse;
}

th, td {
    padding: 7px;
}

th.id {
    min-width: 30px;
}

th.string {
    min-width: 200px;
}

th.action {
    min-width: 100px;
}

td.id, td.action {
    text-align: center;
    text-wrap: avoid;
}

tr {
    min-height: 2em;
}

p.bold {
    font-weight: bold;
}

p.copy {
    margin: 0.75em 0;
}

p.error {
    color: red;
}

input.quantity {
    width: 2em;
}

a:hover {
    color: #247cb1;
}

.signform {
    position: relative;
    padding: 20px;
    max-width: 450px;
    margin: 4em auto 5em auto;
    border-radius: 3px;
    box-shadow: 0px 4px 8px 5px rgba(19, 35, 47, 0.3);
}

.signform > h1, .signform > h2 {
    text-align: center;
}

.field-wrap {
    position: relative;
    margin-bottom: 25px;
    margin-right: 15px;
}

input.sign {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 5px 0px;
}

.button {
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: .1em;
    background: #247cb1;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #29b5e0;
}

.button-block {
    display: block;
    width: 100%;
}

textarea#description {
    display: block;
    font-size: 1.0em;
    padding: 4px 6px;
    width: 300px;
    height: 90px;
}

select.accounts {
    width: 310px;
    font-size: medium;
}

div.select, div.dates {
    width: 720px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: center;
    align-content: center;
}

form#payment {
    width: 600px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

fieldset {
    border: none;
    padding: 0;
}

.form-row {
    flex-flow: row wrap;
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.form-row .label {
    box-sizing: border-box;
    margin: 0 2% 0 0;
    flex: none;
    width: 33%;
}

input#beneficiary_name {
    min-width: 150px;
}

div.action {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

div.fee * {
    font-weight: bold;
}

#transfer_inner {
    width: 700px;
}

div.account-column {
    margin: 0 2% 0 2%;
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.account-column > * {
    margin: 10px 0 0 0;
}

div#forms {
    align-items: end;
}